ApiCRU/ApiCRU/Connected Services/AuthService/AuthService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AuthService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4001/WcfAuth/Service/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4001/WcfAuth/Service/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4001/WcfAuth/Service/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfAuth" />
      <xsd:import schemaLocation="http://localhost:4001/WcfAuth/Service/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCFAuthConsole.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuthService_GetSession_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSession" />
  </wsdl:message>
  <wsdl:message name="IAuthService_GetSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSessionResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthService_GetApplicationRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationRoles" />
  </wsdl:message>
  <wsdl:message name="IAuthService_GetApplicationRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationRolesResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthService_IsSessionValid_InputMessage">
    <wsdl:part name="parameters" element="tns:IsSessionValid" />
  </wsdl:message>
  <wsdl:message name="IAuthService_IsSessionValid_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsSessionValidResponse" />
  </wsdl:message>
  <wsdl:portType name="IAuthService">
    <wsdl:operation name="GetSession">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/GetSession" message="tns:IAuthService_GetSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/GetSessionResponse" message="tns:IAuthService_GetSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApplicationRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/GetApplicationRoles" message="tns:IAuthService_GetApplicationRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/GetApplicationRolesResponse" message="tns:IAuthService_GetApplicationRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsSessionValid">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/IsSessionValid" message="tns:IAuthService_IsSessionValid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/IsSessionValidResponse" message="tns:IAuthService_IsSessionValid_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAuthService" type="tns:IAuthService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSession">
      <soap:operation soapAction="http://tempuri.org/IAuthService/GetSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationRoles">
      <soap:operation soapAction="http://tempuri.org/IAuthService/GetApplicationRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsSessionValid">
      <soap:operation soapAction="http://tempuri.org/IAuthService/IsSessionValid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthService">
    <wsdl:port name="BasicHttpBinding_IAuthService" binding="tns:BasicHttpBinding_IAuthService">
      <soap:address location="http://localhost:4001/WcfAuth/Service/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>