ApiCRU/ApiCRU/Connected Services/AuthService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfAuth" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfAuth" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4001/WcfAuth/Service/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCFAuthConsole.DTO" />
  <xs:complexType name="DAuth">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsUserValidInAD" type="xs:boolean" />
      <xs:element minOccurs="0" name="SessionAuthToken" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DAuth" nillable="true" type="tns:DAuth" />
  <xs:complexType name="DAplRoles">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFAuthConsole.DTO" minOccurs="0" name="Pravice" nillable="true" type="q1:ArrayOfDPravice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DAplRoles" nillable="true" type="tns:DAplRoles" />
  <xs:complexType name="DSessionValid">
    <xs:sequence>
      <xs:element minOccurs="0" name="SessionValid" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DSessionValid" nillable="true" type="tns:DSessionValid" />
</xs:schema>