ApiCRU/ApiCRU/Connected Services/AuthService/WCFAuthConsole.DTO.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFAuthConsole.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFAuthConsole.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDPravice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DPravice" nillable="true" type="tns:DPravice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDPravice" nillable="true" type="tns:ArrayOfDPravice" />
  <xs:complexType name="DPravice">
    <xs:sequence>
      <xs:element minOccurs="0" name="Naziv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Opis" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DPravice" nillable="true" type="tns:DPravice" />
</xs:schema>