ApiCRU/ApiCRU/Connected Services/AuthService/WcfAuth.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfAuth" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfAuth" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DAuth">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsUserValidInAD" type="xs:boolean" />
      <xs:element minOccurs="0" name="SessionAuthToken" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DAuth" nillable="true" type="tns:DAuth" />
</xs:schema>